/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
}

body {
  font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  color: #333;
}

.suptitle {
  font-family: 'Kaushan Script', cursive;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.text-content {
  font-family: 'Montserrat';
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.menu__link:hover:after, .map__title a:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fce38a;
  margin: auto;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: gray;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  overflow: hidden;
}

.section {
  padding: 80px 0;
}

.section__header {
  margin: 0 auto 50px;
  max-width: 950px;
  width: 100%;
  text-align: center;
}

.section--gray {
  background-color: gray;
}

.section--devices {
  background-color: gray;
  margin-bottom: 40px;
  padding-bottom: 0;
}

.section--clients {
  background-color: gray;
}

.section--map {
  background-color: #e6e6ee;
  padding: 40px 0;
}

.section__suptitle {
  font-size: 24px;
}

.section__title {
  font-size: 30px;
}

.section__title:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fce38a;
  margin: 30px auto;
}

.section__text {
  font-size: 15px;
}

.accordion__item {
  margin-bottom: 10px;
  border: 1px solid grey;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__header {
  border-bottom-color: grey;
}

.accordion__item.active .accordion__header:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion__header {
  padding: 15px 20px 15px 65px;
  position: relative;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.accordion__header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 2;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.accordion__content {
  padding: 15px 20px;
  display: none;
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion__title {
  font-size: 14px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__item {
  width: 31%;
}

.blog__header {
  position: relative;
  margin-bottom: 14px;
}

.blog__content {
  margin-bottom: 14px;
}

.blog__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog__date {
  padding: 10px 20px;
  font-weight: 300;
  text-align: center;
  background-color: #95e1d3;
  font-size: 15px;
  font-style: italic;
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 2;
}

.blog__date-day {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}

.blog__title {
  margin-bottom: 10px;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__footer {
  margin-top: 14px;
  border-top: 1px solid #fce38a;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

.blog-stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.blog-stat__item i {
  color: #95e1d3;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.clients__item {
  width: 30%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}

.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 2;
}

.clients__name {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.clients__text:before {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px;
  background-color: #95e1d3;
}

.copyright {
  padding: 20px 0;
  border-top: 1px solid #fce38a;
  text-align: center;
  font-size: 14px;
}

.copyright span {
  color: #95e1d3;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  z-index: 1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.header.fixed {
  background-color: #95e1d3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  padding: 10px 0;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header.active {
  background-color: #95e1d3;
}

.menu {
  font-size: 14px;
  text-transform: uppercase;
}

.menu__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #ffffff;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.menu__link:after {
  content: '';
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.menu__link:hover {
  color: #fce38a;
}

.menu__link:hover:after, .menu__link.active:after {
  opacity: 1;
}

.menu__link.active {
  color: #fce38a;
}

.menu-toggle {
  width: 30px;
  margin: 10px 0;
  display: none;
  font-size: 0;
  color: transparent;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 3;
}

.menu-toggle:focus {
  outline: 0;
}

.menu-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.menu-toggle__item:before, .menu-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background: white;
  left: 0;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.menu-toggle__item:before {
  top: -8px;
}

.menu-toggle__item:after {
  bottom: -8px;
}

.menu-toggle.active .menu-toggle__item {
  background: none;
}

.menu-toggle.active .menu-toggle__item:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3.5px);
          transform: rotate(45deg) translateX(-3.5px);
}

.menu-toggle.active .menu-toggle__item:after {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3.5px);
          transform: rotate(-45deg) translateX(-3.5px);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;
  background-color: grey;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  text-align: center;
  margin: 0 auto;
}

.intro__inner-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.intro__inner-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;
}

.intro__inner-subtitle {
  margin-bottom: 20px;
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: background 0.1s linear, color 0.1s linear;
  transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
  background-color: #fce38a;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 -15px;
}

.logos__item {
  padding: 0 15px;
}

.logos__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  padding: 0 15px;
}

.map {
  text-align: center;
  color: #95e1d3;
}

.map__title a {
  color: inhert;
  text-decoration: none;
}

.map__title a:hover {
  text-decoration: underline;
}

.reviews {
  position: relative;
}

.reviews .slick-slider {
  padding: 0 110px;
}

.reviews__item {
  padding-left: 255px;
  min-height: 215px;
  position: relative;
}

.reviews__photo {
  display: block;
  width: 210px;
  height: 210px;
  border: 2px solid #95e1d3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.reviews__text {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 15px;
}

.reviews__author {
  font-size: 24px;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #95e1d3;
}

.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  border: 0;
  background: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.slick-prev {
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-next {
  right: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: 22.3333%;
  position: relative;
  margin-bottom: 40px;
  padding: 0 35px 40px 80px;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}

.services__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.services__text {
  font-size: 15px;
}

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item {
  display: block;
  max-width: 100%;
  height: auto;
}

.devices__item--absolute {
  position: absolute;
  bottom: -80px;
  right: 25px;
  z-index: 2;
}

.slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  border-top: 3px solid;
  opacity: 0.7;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
}

.slider__item-number {
  font-size: 24px;
  font-weight: 700;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 2;
  background-color: #fce38a;
}

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stat__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  padding: 70px 25px;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

.wedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.wedo__item {
  width: 50%;
  padding: 0 15px;
}

.wedo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.works__item {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce38a), to(#95e1d3));
  background: linear-gradient(to bottom, #fce38a, #95e1d3);
}

.works__item:hover .works__image {
  opacity: .1;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__image {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity .2 linear;
  transition: opacity .2 linear;
}

.works__info {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  opacity: 0;
  -webkit-transition: opacity .2 linear;
  transition: opacity .2 linear;
}

.works__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works__text {
  font-style: italic;
  font-weight: 300;
}

.footer {
  padding-top: 65px;
  background-color: gray;
}

.footer__inner {
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  padding-bottom: 65px;
}

.footer__col {
  padding: 0 15px;
}

.footer__col--social {
  width: 40%;
}

.footer__col--blog {
  width: 29%;
}

.footer__col--inst {
  width: 22%;
}

.footer__logo {
  font-size: 46px;
  margin-bottom: 30px;
}

.footer__title {
  padding: 20px;
}

.footer__text {
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 25px;
}

.footer__social-header {
  padding-bottom: 15px;
  font-size: 14px;
  border-bottom: 1px solid #95e1d3;
}

.footer__social-header b {
  font-size: 18px;
  font-weight: 700;
}

.footer__social-content {
  padding-top: 15px;
  font-style: italic;
}

.footer__social-content a {
  color: #95e1d3;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.footer__social-content a:hover {
  color: #fce38a;
}

.blogs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs__img {
  width: 120px;
  height: 80px;
}

.blogs__content {
  padding-left: 20px;
}

.blogs__date {
  font-size: 13ppx;
  font-weight: 300;
}

.blogs__title {
  display: block;
  margin-bottom: 5px;
  line-height: 1.2;
}

.blogs__title:hover {
  text-decoration: underline;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instagram__item {
  width: 33%;
  border-bottom: 1px solid gray;
}

.instagram__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.subscribe {
  width: 100%;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  width: 60%;
  height: 18.5px;
  padding: 12px;
  line-height: 1.1;
  background: white;
  font-size: 15px;
  border-right: 0;
  font-style: italic;
  border: 1px solid #95e1d3;
}

.subscribe__input::-webkit-input-placeholder {
  color: #fce38a;
}

.subscribe__input:-ms-input-placeholder {
  color: #fce38a;
}

.subscribe__input::-ms-input-placeholder {
  color: #fce38a;
}

.subscribe__input::placeholder {
  color: #fce38a;
}

.subscribe__input:focus {
  outline: 0;
  border-color: #fce38a;
}

.subscribe__btn {
  width: 40%;
  height: 44px;
  padding: 12px 30px;
  line-height: 1.1;
  background-color: #95e1d3;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.subscribe__btn:hover {
  background-color: #fce38a;
}

.subscribe__btn:focus {
  outline: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px -15px 0;
}

.card__item {
  width: 33.33333%;
  padding: 0 15px;
}

.card__inner {
  width: 350px;
  position: relative;
}

.card__inner:hover .card__img {
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0);
  background-color: grey;
}

.card__inner:hover .card__img img {
  opacity: 0.1;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__inner {
  background-color: gray;
  position: relative;
}

.card__text {
  width: 100%;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: -2%;
  color: #ffffff;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.card__img {
  background: -webkit-gradient(linear, left top, left bottom, from(#fce38a), to(#95e1d3));
  background: linear-gradient(to bottom, #fce38a, #95e1d3);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.card__info {
  margin-top: 20px;
  text-align: center;
}

.card__name {
  font-size: 14px;
  text-transform: uppercase;
}

.card__prof {
  font-size: 15px;
  font-weight: 15;
  font-style: italic;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  padding: 12px 10px;
  width: 40px;
  height: 40px;
  background-color: #fce38a;
  border-right: 1px solid #95e1d3;
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
  line-height: 1.5;
  -webkit-transition: background 0.1 liner, color 0.1 linear;
  transition: background 0.1 liner, color 0.1 linear;
}

.social__item:last-child {
  border-right: 0;
}

.social__item:hover {
  background-color: #95e1d3;
  color: #fce38a;
}

@media (max-width: 1230px) {
  .intro__inner-title {
    font-size: 120px;
  }
  .intro__inner-suptitle {
    font-size: 52px;
  }
  .reviews__text {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .intro__inner-title {
    font-size: 80px;
  }
  .intro__inner-suptitle {
    font-size: 32px;
  }
  .stat {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stat__item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.3333%;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .stat__item:last-child {
    border-right: 0;
  }
  .card__inner {
    width: 380px;
    max-width: 100%;
  }
  .services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__item {
    width: 50%;
    max-width: 400px;
    padding: 0px 17px 0 72px;
  }
  .reviews {
    padding: 0 60px;
  }
  .reviews__photo {
    width: 150px;
    height: 150px;
  }
  .reviews__item {
    padding-left: 175px;
  }
  .clients {
    max-width: 600px;
    margin: 0 auto;
  }
  .clients__item {
    width: 100%;
    padding-right: 0;
  }
  .clients__item:last-child {
    margin-bottom: 0;
  }
  .footer__col--social {
    width: 100%;
  }
  .footer__col--blog, .footer__col--inst {
    width: 50%;
  }
  .instagram {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .instagram__item {
    width: auto;
    border-right: 1px solid white;
  }
}

@media (max-width: 770px) {
  .intro {
    min-height: 650px;
  }
  .header {
    padding: 10px 0;
  }
  .menu {
    display: none;
    width: 100%;
    background-color: #95e1d3;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .menu.active {
    display: block;
  }
  .menu__link {
    display: block;
    margin: 0;
    padding: 10px 20px;
  }
  .menu-toggle {
    display: block;
  }
  .slider__text {
    display: none;
  }
  .slider__item.active:before {
    width: 50%;
  }
  .section {
    padding: 40px 0;
  }
  .section--devices {
    padding-bottom: 0;
  }
  .card {
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__item {
    max-width: 410px;
    width: 100%;
    margin-bottom: 30px;
  }
  .card__item:last-child {
    margin-bottom: 0;
  }
  .services__item {
    padding-left: 75px;
    padding-right: 0;
  }
  .services__icon {
    left: 0;
  }
  .wedo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wedo__item {
    width: 100%;
    padding: 0;
  }
  .wedo__img {
    display: none;
  }
  .reviews__photo {
    position: static;
    display: block;
    margin: 20px auto;
  }
  .reviews__item {
    padding-left: 0;
  }
  .reviews__text {
    font-size: 16px;
  }
  .reviews__author {
    font-size: 20px;
  }
  .slick-arrow {
    top: 18%;
  }
  .slick-arrow--prev {
    left: 50px;
  }
  .slick-arrow--next {
    right: 50px;
  }
  .works {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__col {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
  .blog {
    max-width: 380px;
    margin: 0 auto;
  }
  .blog__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .blog__item:last-child {
    margin-bottom: 0;
  }
  .footer__col--blog, .footer__col--inst {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .intro__inner-title {
    font-size: 40px;
  }
  .intro__inner-subtitle {
    font-size: 40px;
  }
  .intro__inner-suptitle {
    font-size: 22px;
  }
  .section__header {
    margin-bottom: 50px;
  }
  .section__title {
    font-size: 24px;
  }
  .section__title:after {
    margin: 20px auto;
  }
  .section__suptitle {
    font-size: 20px;
  }
  .stat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stat__item {
    width: 100%;
    border-bottom: 1px solid #fce38a;
  }
  .stat__item:last-child {
    border-bottom: 0;
  }
  .stat__count {
    font-size: 52px;
  }
  .devices {
    max-width: 320px;
  }
  .devices__item--iphone {
    width: 180px;
    bottom: -50px;
    right: -80px;
  }
  .reviews .slick-slider {
    padding: 0;
  }
  .blogs__title {
    font-size: 10px;
  }
  .blogs__img {
    width: 80px;
    height: 50px;
  }
  .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logos__item {
    margin-bottom: 10px;
  }
  .logos__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .works__col {
    width: 100%;
  }
  .clients__photo {
    position: static;
  }
  .clients__item {
    padding-left: 0;
    text-align: center;
  }
  .clients__text:before {
    margin: 15px auto;
  }
  .footer__col--social, .footer__col--blog, .footer__col--inst {
    width: 100%;
  }
  .subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
  }
  .subscribe__input {
    width: 100%;
    margin-bottom: 10px;
    border-right: 1px solid #95e1d3;
  }
  .subscribe__btn {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */